In [1]:
import pandas as pd
import numpy as np

In [2]:
ls data/sports_scores/

astros_1A10.csv*   Rice_10H80.csv*    Tex_15E40.csv*
dynamo_10H30.csv*  rockets_1A10.csv*  UH_10H50.csv*

In [3]:
ls data/crime_beats/

crime_10H30_10_17.csv*  crime_10H80_10_17.csv*  crime_1A10_10_17.csv*
crime_10H50_10_17.csv*  crime_15E40_10_17.csv*

In [4]:
games = 'data/sports_scores/dynamo_10H30.csv'

crime = 'data/crime_beats/crime_10H30_10_17.csv'

## scores dataframes

In [6]:
df = pd.read_csv(games,index_col='full_date').sort_index(ascending=True)

## win column
df['win'] =  np.where(df['home_score'] > df['away_score'],1,0)

# only oposing name and win boolean
df = df[['away_team','win']]

# show

df.head()

                 away_team  win
full_date
2010-04-01  Real Salt Lake    1
2010-04-10       LA Galaxy    0
2010-04-17      Chivas USA    1
2010-05-01     Sporting KC    1
2010-05-05       FC Dallas    0

## crime dataframe

In [7]:
crime_df = pd.read_csv(crime,index_col='Date').sort_index(ascending=True)

## only crimes after 2009
crime_df = crime_df[crime_df.year >=2010]

# selectd columns
crime_df = crime_df[['OffenseType','Premise','NumOffenses','Hour','weekday']]

# count Offense type given date
date_crimes = crime_df.groupby(crime_df.index)['OffenseType',].count()


## show
date_crimes.head()

            OffenseType
Date
2010-01-01            3
2010-01-02            1
2010-01-03            2
2010-01-04            1
2010-01-05            2

## Days dataframe

In [8]:
days = pd.date_range(start='01/01/2010', end='12/30/2017')
days = pd.DataFrame(days)

days.columns = ['days']
days = days.set_index('days').sort_index(ascending=True)

days.head()

Empty DataFrame
Columns: []
Index: [2010-01-01 00:00:00, 2010-01-02 00:00:00, 2010-01-03 00:00:00, 2010-01-04 00:00:00, 2010-01-05 00:00:00]

## Merge days dataframe and  crimes

In [9]:
calendar_crimes = pd.merge(days,date_crimes,  left_index=True, right_index=True, how='left')
calendar_crimes.head()

            OffenseType
days
2010-01-01          3.0
2010-01-02          1.0
2010-01-03          2.0
2010-01-04          1.0
2010-01-05          2.0

## Merge calendar_crimes with scores

In [10]:
merge_data = pd.merge(calendar_crimes,df,  left_index=True, right_index=True, how='left')

# change column names
merge_data.columns = ['offenses','away_team','win']

merge_data.head()

            offenses away_team  win
days
2010-01-01       3.0       NaN  NaN
2010-01-02       1.0       NaN  NaN
2010-01-03       2.0       NaN  NaN
2010-01-04       1.0       NaN  NaN
2010-01-05       2.0       NaN  NaN

## Display non nans

In [11]:
merge_data.dropna(subset=['away_team', 'win'])

            offenses         away_team  win
days
2010-04-01       NaN    Real Salt Lake  1.0
2010-04-10       1.0         LA Galaxy  0.0
2010-04-17       2.0        Chivas USA  1.0
2010-05-01       2.0       Sporting KC  1.0
2010-05-05       3.0         FC Dallas  0.0
2010-05-22       4.0       D.C. United  1.0
2010-05-29       NaN      Philadelphia  0.0
2010-06-26       1.0          Colorado  0.0
2010-07-10       3.0          Columbus  0.0
2010-07-31       NaN      NY Red Bulls  0.0
2010-08-21       2.0           Chicago  1.0
2010-09-05       1.0          San Jose  0.0
2010-09-18       NaN        Toronto FC  0.0
2010-10-10       1.0       New England  0.0
2011-03-19       3.0      Philadelphia  0.0
2011-04-10       NaN         Vancouver  1.0
2011-04-17       1.0       New England  1.0
2011-04-29       1.0       D.C. United  1.0
2011-05-04       1.0          Colorado  0.0
2011-05-21       6.0      NY Red Bulls  0.0
2011-05-28       2.0         FC Dallas  0.0
2011-06-11       2.0        Chivas USA  1.0
2011-06-18       3.0          Columbus  0.0
2011-07-09       5.0        Toronto FC  1.0
2011-07-16       2.0       Sporting KC  0.0
2011-08-14       2.0          Portland  1.0
2011-08-20       NaN    Real Salt Lake  1.0
2011-09-17       1.0          San Jose  1.0
2011-10-01       3.0           Chicago  0.0
2011-10-23       2.0         LA Galaxy  1.0
...              ...               ...  ...
2016-06-18       8.0       D.C. United  0.0
2016-07-02       2.0      Philadelphia  1.0
2016-07-23       3.0         Vancouver  0.0
2016-07-31       4.0          San Jose  0.0
2016-08-14       4.0        Toronto FC  0.0
2016-08-27       9.0         FC Dallas  0.0
2016-09-24       5.0          Portland  1.0
2016-09-30       5.0             NYCFC  0.0
2016-10-08       6.0          Colorado  0.0
2016-10-16       5.0         LA Galaxy  0.0
2017-03-04       NaN           Seattle  1.0
2017-03-11       2.0          Columbus  1.0
2017-04-01       3.0      NY Red Bulls  1.0
2017-04-15       5.0         Minnesota  0.0
2017-04-22       NaN          San Jose  1.0
2017-05-06       3.0           Orlando  1.0
2017-05-12       1.0         Vancouver  1.0
2017-05-31       6.0    Real Salt Lake  1.0
2017-06-23       6.0         FC Dallas  0.0
2017-07-05       2.0          Montreal  1.0
2017-07-29       3.0          Portland  0.0
2017-08-12       1.0          San Jose  1.0
2017-09-09       1.0          Colorado  0.0
2017-09-27       2.0         LA Galaxy  0.0
2017-09-30       6.0         Minnesota  1.0
2017-10-11       3.0       Sporting KC  1.0
2017-10-22       NaN           Chicago  1.0
2017-10-26       1.0       Kansas City  1.0
2017-10-30       1.0  Portland Tumbers  0.0
2017-11-21       1.0           Seattle  0.0

[137 rows x 3 columns]

In [12]:
merge_data.to_csv('data/final/Dynamo1017_final.csv')